/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa; /* Cor de fundo para o site */
    height: 100vh;
    width: 100%;
    overflow: hidden;
}



    h1{
        margin-top:50px;
        font-size:120px;
        margin-bottom:100px;
    }

@keyframes ultimo {

    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(-100% + 250px);
    }
}

@keyframes curso {

0%{
    border-left: 4px solid #ec38b6;
}
    
}

@keyframes go {

    0%, 50%  {

        content:"Goo";
    }
}
@keyframes lo {


    51%, 100% {

        content:"Loo";

    }
}

/* Estilos para o menu de navegação */
.menu-links {
    list-style: none;
    text-align: center;
    padding: 100px;
    
}

.menu-links li {
    display: inline;
    margin-left: 10px;
    margin: 20px;
    
}

/* Estilos para os links do menu de navegação e botões */
.menu-links li a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    min-width: 150px;
}

/* Estilos para alterar cor de fundo ao passar o mouse */
.menu-links li a:hover {
    background-color: rgba(45, 114, 146, 0.833);
    color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.833);
}

/* Estilos para centralizar o conteúdo */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1280) and (max-width: 1400px) {
/* Media query para telas menores (por exemplo, dispositivos móveis) */
header {
font-size:100px;
}

    h1{
        font-size:120px;
        margin-bottom:50px;
    }
}
@media (max-width: 600px) {
    /* Faça alterações de estilo específicas para telas menores aqui */
    body {
        overflow: hidden; /* Impede a rolagem do corpo da página */
    }

    header {
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ec38b6;
        font-family: 'Microsoft JhengHei Light'; /* Especifique a fonte e forneça alternativas */
    }


        h1{
        margin-top:70px;
        font-size:80px;
        margin-bottom:60px;
    }
@keyframes ultimo {

    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(-100% + 170px);
    }
}

@keyframes curso {

0%{
    border-left: 4px solid #ec38b6;
}
    
}

@keyframes go {

    0%, 50%  {

        content:"Goo";
    }
}
@keyframes lo {


    51%, 100% {

        content:"Loo";

    }
}

    .menu-links {
        text-align: center;
        padding: 0px;
        display: flex; /* Use flexbox para alinhar os itens horizontalmente */
        flex-direction: column; /* Empilhe os itens verticalmente */
        align-items: center; /* Centralize os itens horizontalmente */
    }

    .menu-links li {
        margin-bottom: 25px; /* Adicione um espaçamento entre os itens empilhados */
    }

    .menu-links li a {
        padding: 8px 15px; /* Reduza o tamanho dos botões do menu */
        min-width: 280px; /* Define o tamanho mínimo dos botões */
        text-align: center; /* Centralize o texto horizontalmente */
        font-size: 20px;
    }
}

/* Media query para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 400px) {
    /* Faça alterações de estilo específicas para telas menores aqui */
    body {
        overflow: hidden; /* Impede a rolagem do corpo da página */
    }

    header {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ec38b6;
        font-family: 'Microsoft JhengHei Light'; /* Especifique a fonte e forneça alternativas */
    }

    
    h1{
        margin-top:60px;
        font-size:80px;
        margin-bottom:60px;

    }

@keyframes ultimo {

    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(-100% + 150px);
    }
}

@keyframes curso {

0%{
    border-left: 4px solid #ec38b6;
}
    
}

@keyframes go {

    0%, 50%  {

        content:"Goo";
    }
}
@keyframes lo {


    51%, 100% {

        content:"Loo";

    }
}

    .menu-links {
        text-align: center;
        padding: 0px;
        display: flex; /* Use flexbox para alinhar os itens horizontalmente */
        flex-direction: column; /* Empilhe os itens verticalmente */
        align-items: center; /* Centralize os itens horizontalmente */
    }

    .menu-links li {
        margin-bottom: 15px; /* Adicione um espaçamento entre os itens empilhados */
    }

    .menu-links li a {
        padding: 8px 15px; /* Reduza o tamanho dos botões do menu */
        min-width: 220px; /* Define o tamanho mínimo dos botões */
        text-align: center; /* Centralize o texto horizontalmente */
        font-size: 18px;
    }
}
